
.ml-auto{
	text-align: center;
}
.bg-light {
    background-color: #ffffff !important;
    padding: 0px 5px 0px 5px;
}
.navbar-lav{
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-bottom-width: 1px;

}

.nav-link-lav li{
	background-color: #ffffff80;
	text-transform: uppercase;
	border-radius: 50px;
	margin: 0px 3px;
    padding: 0px 10px;
	font-size: .8rem;
}

.nav-link-lav li{
	color: #004060;
}

.nav-link-lav li:last-child {
    margin-right: -3px;
    }
.content-lav{
	margin:auto;
	width: 80vw;
	height: 50vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}
.item-lav-1{
	font-size: 2rem;
	background-color: red;
	/*display: flex;
	text-align: center;
	line-height: 2;
	align-items: center;
	justify-content: center;*/
}
.count_particles{
	display: none;
}