
.ml-auto{
	text-align: center;
}
.bg-light {
    background-color: #ffffff90 !important;
    padding: 15px 0px 15px 0px;
}
.navbar-lav{
	border-bottom-style: solid;
	border-bottom-color: #dee3e8;
	border-bottom-width: 1px;
	box-shadow: 0px 1px 10px #dee3e8;
}

.nav-link-lav li{
	background-color: #ffffff80;
	text-transform: uppercase;
	border-radius: 50px;
	margin: 0px 5px;
	padding: 0px 15px;
	font-size: .9rem;
}
.nav-link-lav li:last-child {
    margin-right: -5px;
    }