.oculto{display: none}
.section{margin:0;}
.controlArrow.prev{left:40px;}
.controlArrow.next{right:40px;}
h2{ font-family: 'Open Sans',sans-serif;font-size: 3em;font-weight: normal;margin-bottom: 1.5em; line-height:1.5em }
.diapo{text-align: center;position: relative;}
.diapo em {font-size: 1.3em;font-style: normal;font-weight: bold;}

#imgcontainer {margin: auto;
    max-width: 800px;
    overflow: auto;position: relative;}
#iconoempresa {margin-right: 50px; position: relative;}

#endeosmini {
}
#section3 .diapo {
	color:#EEE;
    margin: auto;
    max-width: 760px;
}
#section3 p {
    display: block;
    margin: auto;
    text-align: left;
    max-width: 530px;
}
#section3 img {
    margin: 10px 60px 10px 0;
}

#section3 span {
    font-size: 3em;
}
#section4 h2{left:-100%; position: relative;}
#section4 img{opacity: 0}


